.projectContainer
{
    display:flex;
    justify-content: space-between;
}

.project
{
    margin-bottom:20px;
    text-align: center;
}
@media screen and (max-width: 600px) {
    .projectImage
    {
        width:200px;
        height:150px;
        border:1px solid red;
    }
  }
