:root{
    --raleway-font:"Raleway";
    --Ubuntu-font:"Ubuntu";
    --title-fontSize:5.9rem;
    --body-fontSize:2.1rem;
    --innerBody-font:1.3rem;
    --brand-color:#00DDEB;
    --white-color:#fff;
    
}